@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/Inter-Regular.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: italic;
    src: url(./fonts/Inter-Italic.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    src: url(./fonts/Inter-Bold.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: italic;
    src: url(./fonts/Inter-BoldItalic.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    src: url(./fonts/Inter-Light.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: italic;
    src: url(./fonts/Inter-LightItalic.woff) format("woff");
    font-display: swap;
  }
}

body {
  padding-left: calc((100vw + 80px) / 21);
  padding-right: calc((100vw + 80px) / 21);
  @apply bg-white font-sans antialiased text-gray-900 text-base sm:text-lg;
}

.btn-classic {
  @apply rounded-md shadow-md bg-gray-800 hover:bg-gray-700 text-white hover:text-gray-200 p-4 transition-colors duration-200;
}

.form-validate input:invalid,
.form-validate textarea:invalid {
  @apply border-red-500 focus:ring-red-500 transition-all duration-200;
}

.form-field {
  @apply border border-gray-400 rounded-md w-full h-10 sm:h-12 outline-none focus:ring-1 focus:ring-gray-800 focus:border-gray-800 text-lg sm:text-xl p-2 sm:p-3 placeholder-gray-600 transition-all duration-200 disabled:bg-gray-100;
}

textarea.form-field {
  min-height: 100px;
}
